- page.posts.each do |post|
	.post
		.content= include post

%p.navigation
	- if page.next
		%a{class: "left", title: "Older Posts", href: page.next.url} &laquo; Older posts

	- if page.previous
		%a{class: "right", title: "Newer Posts", href: page.previous.url} Newer posts &raquo;

