{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
		
		{% stylesheet_link %}
		{% javascript_link %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lt IE 9]>
			{% javascript_link "html5shiv" %}
		<![endif]-->
		{% scripts_for_head %}
	</head>
	
	<body>
		<div class="wrapper">
			<header>
				<h1>{{ site.title }}</h1>
				<p>{{ site.tagline }}</p>
				
			</header>
			
			<section>
				{{ content }}
			</section>
			
			<footer>
				{{ site.root }} - {{ root_url }}
				<p>Blog by {{ site.author }}</p>
				<p><small>Powered by Alula &mdash; Theme by&nbsp;<a href="https://github.com/orderedlist">orderedlist</a></small></p>
			</footer>
		</div>
		{% javascript_link "scripts_body" %}
	</body>
</html>
